<mat-form-field class="example-full-width">
  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker touchUi #picker></mat-datepicker>
</mat-form-field>

<br>
<mat-form-field class="example-full-width">
  <input matInput [matDatepicker]="picker01" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker01"></mat-datepicker-toggle>
  <mat-datepicker #picker01></mat-datepicker>
</mat-form-field>
