<div>
  <a class="btn-link" href="/autocomplete">autocomplete</a>
</div>

<div>
  <a class="btn-link" href="/simpleAutocomplete">simpleAutocomplete</a>
</div>
<div>
  <a class="btn-link" href="/displayValueAutocomplete">displayValueAutocomplete</a>
</div>
<div>
  <a class="btn-link" href="/filterAutocomplete">filterAutocomplete</a>
</div>
<div>
  <a class="btn-link" href="/optionGroupsAutocomplete">optionGroupsAutocomplete</a>
</div>
<div>
  <a class="btn-link" href="/highlightTheFirstAutocomplete">highlightTheFirstAutocomplete</a>
</div>

<div>
  <a class="btn-link" href="/checkbox">checkbox</a>
</div>

<div>
  <a class="btn-link" href="/basicDatepicker">basicDatepicker</a>
</div>
<div>
  <a class="btn-link" href="/datepickerStartDate">datepickerStartDate</a>
</div>
<div>
  <a class="btn-link" href="/DatepickerSelectedValue">DatepickerSelectedValue</a>
</div>

<div>
  <a class="btn-link" href="/DatepickerValidation">DatepickerValidation</a>
</div>
<div>
  <a class="btn-link" href="/DatepickerFilterValidation">DatepickerFilterValidation</a>
</div>
<div>
  <a class="btn-link" href="/DatepickerInputChangeEvents">DatepickerInputChangeEvents</a>
</div>
<div>
  <a class="btn-link" href="/DisabledDatepicker">DisabledDatepicker</a>
</div>
<div>
  <a class="btn-link" href="/DatepickerTouchUI">DatepickerTouchUI</a>
</div>

<div>
  <a class="btn-link" href="/DatepickerOpenMethod">DatepickerOpenMethod</a>
</div>

<div>
  <a class="btn-link" href="/DatepickerDifLoe">DatepickerDifLoe</a>
</div>
<div>
  <a class="btn-link" href="/SimpleFormField">SimpleFormField</a>
</div>

<div>
  <a class="btn-link" href="/FormFieldAppearanceVariants">FormFieldAppearanceVariants</a>
</div>

<div>
  <a class="btn-link" href="/FormFieldWithLabel">FormFieldWithLabel</a>
</div>

<br>
<router-outlet></router-outlet>

FormFieldWithLabel
